  .grid_content{
    min-height: 100vh;
    }
    .img{
      object-fit: cover;
      background-repeat: no-repeat ;
      background-size: cover;
    }
  
    .tratar_img{  
      display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
     
    }
    .flex_direction_centralize{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      background-color: #F6F6F6;
    }
  
  
    

  .text{
    font-family: 'Alice';
    margin: 2rem 0;
  
  }
  
  .form_login{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 4rem;
   
  }
  
  .title_home{
    text-align: left;
    margin-left: 4rem;
  
  }
  
  .infos_login{
    width: 80%;
    text-align: center;
  }
  
  .textfield_options{
    width: 100%;
    margin: 1.5rem 0 1.5rem 0 ;
  }


  .styles_link{
    color:#FE6969;
    font-weight: bold;
  }
  
  
.Divider{
  font-size: small;
}

