
.flex_direction_centralize{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 80vh;
  
 
}

.styles_link{
  color:#01A8FF;
  font-weight: bold;
}




.flex_direction_centralize2{

  min-height: 80vh;
}
