/* CSS RESET */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

* {
  box-sizing: border-box;
}

body{
  padding-top: 4rem;
  margin: 0px;
  color: #333;
  --type-first: 'Alice', serif; /* Definindo variavel de css. */
  --type-second: 'Nunito', sans-serif;
  font-family:  var(--type-first);
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px
}
img{
  display: block;
  max-width: 100%;
}
button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  
}
a{
  text-decoration: none;

}
